<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/css.css">
	<script src="/clientjs/jquery.js"></script>
	<script src="/clientjs/js.js"></script>
	<title>To DO APP Auth</title>
</head>
<body>
	<h1>TODO manager: Авторизация</h1>
	<form id="auth" method="POST">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit" value="Отправить">
	</form>
</body>
</html>